
*{
    padding: 0px;
    margin: 0px;
}
.canvas{
    background-color: rgb(219, 219, 219);
    width: 1000px; 
    padding: 10px;
    margin: 0px auto;
}

.greenHeader{
    width:1000px;
    min-height: 100px;
    background-color: green;
   
}

.blueSidebar{
    background-color: blue;
    width: 200px;
    min-height: 320px;
    margin: 20px 0;
}


.redBlock{
    background-color: red;
    width: 756px;
    min-height:455px;
    margin: 20px 0;
    margin-left: 20px;
    padding: 10px;

   
}

 .blueSidebar, .redBlock{
    display:inline-block;
    
    vertical-align: top;
    
} 

.yellowBlock{

    background-color: yellow;
    width: 220px;
    min-height: 200px;
    margin-left:15px;
    margin-top: 20px;
    display: inline-block;
}


.purpleBlock{

    background-color:purple;
    width: 700px;
    min-height: 140px;
    margin: 0 20px;
    margin-top: 30px;

}

@media only screen and (max-width: 540px){
    .canvas{
        width: 500px;
    }
   
    .greenHeader{
        width: 25%;
     
    }
   
    .redBlock{
        width: 96%;
        background-color: rebeccapurple;
    }
    .purpleBlock{
        width: 70%;

    }
    .yellowBlock{
        width: 93%;
    }
    
}
@media only screen and (max-width: 1040px){
    .canvas{
        width: 95%;
        
    }
   
    .greenHeader{
        width: 100%;
       
        
    }
    .blueSidebar{
        display: none;
    }
    
    .redBlock{
        width: 96%;
        margin-left: 0px;
    }
    .purpleBlock{
        width: 90.2%;

    }
   
}
@media only screen and (min-width: 1041px){

    
    .greenHeader{
        width: 100%;
       
    }
    .blueSidebar{
        width: 20%;
    }
    .redBlock{
        width: 75.6%;
    }
    .purpleBlock{
        width: 90.2%;

    }
    .yellowBlock{
        width: 28.4%;
    }
}

