*{
    padding: 0px;
    margin:0px;
    
}
#wrapper{
    background: rgb(120, 100, 124); /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, rgb(46, 32, 41), rgb(110, 102, 117), rgb(46, 32, 41));
    width: 935px;

}
#paddingGuy{
    padding-left: 20px;
}
.header{
    min-height: 60px;
    background-color: rgb(245, 245, 245);
    
}
    h1{
        display: inline-block;
        font-family: fantasy;
        margin-left: 20px;
    }
    h2{
        width: 380px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 365px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

#profilePic{

    width: 390px;
    height: 245px;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    border: 5px solid rgb(199, 199, 199);
}
.bio{
    width: 470px;
    min-height: 255px;
    background: linear-gradient(-90deg, rgb(231, 216, 233), rgb(240, 240, 240));
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}
    h3{
        padding-left: 10px;
        padding-top: 11px;
        padding-bottom: 11px;
        color: white;
        background:linear-gradient(rgb(189, 189, 189), rgb(131, 130, 138),rgb(182, 181, 181));
        font-family: Arial, Helvetica, sans-serif;
    }

    .bio div{
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
        font-size: 15px;;
        
    }
    p+p{
        margin-top: 20px;
    }

    p+a{
        color:black;
        
        font-size: 12pt;
        display: block;
        margin-top: 15px;
       
    }

.boxInfo{
    margin-top: 20px;
    width: 280px;
    min-height: 560px;
    background: linear-gradient(-90deg,rgb(218, 198, 214), rgb(255, 255, 255));
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
  
    

}
    #marginMe{
        margin-right: 20px;
        margin-left: 20px;
    }
    #topPhoto{
        width: 280px;
        height: 160px;
    }

    .boxInfo div p{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        font-size: 14px;

    }
   
    .boxInfo>h3{
        background-color:blue;
    }
    
    .boxInfo h4{
        color: white;
        padding:10px;
        background:linear-gradient(rgb(189, 189, 189), rgb(131, 130, 138),rgb(182, 181, 181));
        margin-top: 60px;
    }
        #tech2{
            margin-top: 44px;
        }
        #tech3{
            margin-top:13px;
        }

    .boxInfo ul li img{
        width: 40px;
        height: 40px;
    }
    .boxInfo ul li{
        display:inline;
        vertical-align: top;
        margin-left: 10px;
        
    }
    .boxInfo ul{
        margin-top: 10px;
    }
    .boxInfo a{
        background-color: rgb(22, 107, 22);
        width: 57px;
        padding: 5px;
        border-radius: 8px;
        margin-left: 100px;
        margin-top: 7px;
        display: block;
        text-decoration: none;
        color: white;
        font-size: 14px;
        text-align: center;
        border: 1px solid black;
        box-shadow: 3px 4px 2px rgb(143, 143, 143);

    }
    #familycontacts{
        width: 110px;
        margin-left: 80px;
    }
    #fiveEleven{
        width: 65px;
    }

.contactInfo{

        background-color:  rgb(245, 245, 245);
        min-height: 70px;
        width: 935px;
        margin-top: 20px;
        
    }
    #mailAndTele{
        text-align: center;
    }
        #mailAndTele li{
            margin-top: 5px;
            width: 125px;
            display: inline-block;
            vertical-align: top;
            
        }
            #smallbar{
                border-right: 1px solid black;
            }
            #mailAndTele li+li{
                width: 100px;
            }


.inlineContacts{
    text-align: center;
    margin-top: 20px;
    
}
    .inlineContacts li img{
            width: 20px;
            height: 20px; 
    }
    .icon{
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        
    }
    .iconLink{
        width: 70px;
        display: inline-block;
        vertical-align: top;
       
    }
    .iconLink a{
        color:black;
    }
    

